.edt .bar { font-size: 12px; }/*工具栏变回小字*/

.edt .b1r a { font-family: inherit; font-size: inherit; }/*大按钮不用改字体*/

.p_pof { min-width: 350px; }/*为表格按钮*/

.sltm { width: 100px !important; }/*主题分类选项*/


