<!--{if !empty($whosonline)}-->
    <!--{loop $whosonline $key $online}-->
        <li title="$online[title_label]&#013;$online[ip]<!--{if $online['uid']}-->&#013;$online[ip_location]<!--{elseif $online['network_title']}-->&#013;$online[network_title]<!--{/if}-->&#013;{lang time}: $online[lastactivity]"><span>
        <!--{if $online['uid']}--><a href="home.php?mod=space&uid=$online[uid]"><!--{/if}-->
        <!--{if !empty($online['icon'])}--><img src="$online[icon]" alt="icon" /><!--{/if}-->
        <!--{if $online['uid']}--></a><!--{/if}-->
        <!--{if $online['tid']}--><a href="forum.php?mod=redirect&tid=$online[tid]&goto=lastpost#newpost">$online[username]</a><!--{else}-->$online[username]<!--{/if}-->
        </span></li>
    <!--{/loop}-->
<!--{else}-->
    <li style="width: auto">{lang online_only_guests}</li>
<!--{/if}-->
