<!--{if !empty($whosonline)}-->
    <!--{loop $whosonline $key $online}-->
        <li title="$online[title_attr]"><span>
        <!--{if $online['uid']}--><a href="home.php?mod=space&uid=$online[uid]"><!--{/if}-->
        <img src="$online[icon]" alt="icon" />
        <!--{if $online['uid']}--></a><!--{/if}-->
        <!--{if $online['tid']}--><a href="forum.php?mod=redirect&tid=$online[tid]&goto=lastpost#newpost">$online[username]</a><!--{else}-->$online[username]<!--{/if}-->
        </span></li>
    <!--{/loop}-->
<!--{else}-->
    <li style="width: auto">{lang online_only_guests}</li>
<!--{/if}-->