<!--{template common/header}-->
<!--{if ($op == 'set')}-->
<!--{elseif ($op == 'manage')}-->
	<h3 class="flb">
		<em>{lang post_tag}</em>
	</h3>
	<div class="c">
		<input type="hidden" name="tid" id="tid" value="$_GET[tid]" />
		<!--{template forum/tag_input}-->
	</div>
	<p class="o pns">
		<button type="button" name="search_button" class="pn" value="false" onclick="tagset();"><strong>{lang submit}</strong></button>
		<button type="button" id="closebtn" class="pn" onclick="hideWindow('$_GET[handlekey]');"><strong>{lang close}</strong></button>
	</p>
<!--{/if}-->
	<script type="text/javascript">
	function tagset() {
		var tags = $('tags').value;
		var tid = $('tid').value;
		tags = BROWSER.ie && document.charset == 'utf-8' ? encodeURIComponent(tags) : tags;
		var url = 'forum.php?mod=tag&op=set&inajax=1&tags='+tags+'&tid='+tid+'&formhash={FORMHASH}';
		var x = new Ajax();
		x.get(url, function(s){
			if(s) {
				hideWindow('$_GET[handlekey]');
				window.location.reload();
			}
		});
	}
	</script>
<!--{template common/footer}-->
