	</div>
<!--{if empty($topic) || ($topic[usefooter])}-->
	{cells common/footer/focus}

	<!--{ad/footerbanner/wp cgb/1}--><!--{ad/footerbanner/wp/2}--><!--{ad/footerbanner/wp/3}-->
	<!--{ad/float/a_fl/1}--><!--{ad/float/a_fr/2}-->
	<!--{ad/couplebanner/a_fl a_cb/1}--><!--{ad/couplebanner/a_fr a_cb/2}-->
	<!--{ad/cornerbanner/a_cn}-->

	<!--{hook/global_footer}-->
	<!--{if in_array(CURMODULE, array('post','forumdisplay', 'viewthread')) && in_array($_G[fid], array(5,6,7,14)) && !isset($_GET['editsubmit'])}-->
	<div class="wp" id="cgb">
	<style>
	#inputWrap{background:#f8f8f5;float:left;width:40%;position:sticky;top:30px;text-align:center;}
	#inputText{background:#f8f8f5;border:solid 6px #e8ece6;padding:6px;width:100%;box-sizing:border-box;display:block;}
	#outputWrap{background:#f8f8f5;float:right;width:60%;}
	#output{border:solid 6px #e8ece6;padding:6px;text-align:left;box-sizing:border-box;white-space:pre-wrap;}
	.anniu{white-space:nowrap;min-width:30px;}
	::-webkit-input-placeholder{color:darkgray}
	::-moz-placeholder{color:darkgray}
	</style>
	
	<div id="inputWrap">
	<textarea id="inputText" rows="13" placeholder="在此处输入 LaTeX 代码及文字，右边即时预览。
	
	大家可以用来打草稿或者调试代码。
	
	详尽的代码列表及输入说明请见置顶帖。">
	</textarea>
	</div>
	
	<div id="outputWrap">
	<div id="output"></div>
	</div>
	
	<div style="clear:both"></div>
	
	<script src="/kk/mathjax-preview.js?{VERHASH}"></script>
	</div>
	<!--{/if}-->
	<script>
	if (navigator.userAgent.match(/Windows 7|Windows 8|Windows NT 6|Windows NT 10\.0.*?Chrome\/10[0-9]/)&&typeof(show_emoji_window) !== "function") { 
		var tmpjs = document.createElement('script');
		tmpjs.src = 'kk/emoji.js';
		document.body.appendChild(tmpjs);
	}
	</script>
	<div id="ft" class="wp cl">
		<div style="position: absolute; left: 100%;">
			<div id="scrolltop">
				<a onclick="this.parentNode.style.display='none';" style="height:2ex; line-height:2ex; padding:0 5px;">×</a>
				<!--{if $_G[fid] && $_G['mod'] == 'viewthread'}-->
				<span><a href="forum.php?mod=post&action=reply&fid=$_G[fid]&tid=$_G[tid]&extra=$_GET[extra]&page=$page{if $_GET[from]}&from=$_GET[from]{/if}" onclick="showWindow('reply', this.href)" class="replyfast" title="{lang fastreply}"><b>{lang fastreply}</b></a></span>
				<!--{/if}-->
				<span hidefocus="true"><a title="{lang scrolltop}" onclick="window.scrollTo('0','0')" class="scrolltopa"><b>{lang scrolltop}</b></a></span>
				<!--{if $_G[fid]}-->
				<span>
					<!--{if $_G['mod'] == 'viewthread'}-->
					<a hidefocus="true" class="editp" onclick="showWindow('edit',$(MULUSELECT.value).querySelector('a.editp').href,'get',0)" title="{lang edit}"><b>{lang edit}</b></a>
					<!--{else}-->
					<a href="forum.php" hidefocus="true" class="returnboard" title="{lang return_forum}"><b>{lang return_forum}</b></a>
					<!--{/if}-->
				</span>
				<!--{/if}-->
			</div>
		</div>
		<div id="flk" class="y">
			<p>
				<!--{if !empty($_G['setting']['site_qq'])}--><a href="//wpa.qq.com/msgrd?v=3&uin=$_G['setting']['site_qq']&site=$_G['setting']['bbname']&menu=yes&from=discuz" target="_blank" title="QQ"><img src="{IMGDIR}/site_qq.jpg" alt="QQ" /></a><span class="pipe">|</span><!--{/if}-->
				<!--{echo implode('<span class="pipe">|</span>',array_column(array_filter(is_array($_G['setting']['footernavs']) ? $_G['setting']['footernavs'] : array(),fn($nav)=>is_array($nav) && $nav['available'] && ($nav['type'] && (!$nav['level'] || ($nav['level'] == 1 && $_G['uid']) || ($nav['level'] == 2 && $_G['adminid'] > 0) || ($nav['level'] == 3 && $_G['adminid'] == 1)) || !$nav['type'] && ($nav['id'] == 'stat' && $_G['group']['allowstatdata'] || $nav['id'] == 'report' && $_G['uid'] || $nav['id'] == 'archiver' || $nav['id'] == 'mobile' || $nav['id'] == 'darkroom'))),'code'))}-->
				<!--{if !empty($_G['setting']['styles'][3])}--><span class="pipe">|</span><a href="javascript:;" onclick="setcookie('styleid', '3', 31536000);location.href='forum.php';return false;">discuzx5</a><!--{/if}-->
				<!--{if $_G['setting']['icp'] || !empty($_G['setting']['mps'])}-->( <!--{if $_G['setting']['icp']}--><a href="https://beian.miit.gov.cn/" target="_blank">$_G['setting']['icp']</a><!--{/if}--><!--{if !empty($_G['setting']['mps'])}--><!--{if $_G['setting']['icp']}--><span class="pipe">|</span><!--{/if}--><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=$_G['setting']['mpsid']" target="_blank"><img width="14" height="14" src="{IMGDIR}/ico_mps.png" />$_G['setting']['mps']</a><!--{/if}--> )<!--{/if}-->
				<!--{hook/global_footerlink}-->
				<!--{if $_G['setting']['statcode']}-->$_G['setting']['statcode']<!--{/if}-->
			</p>
			<p class="xs0">{lang time_now}</p>
		</div>
		<div id="frt">
			<p>{cells common/footer/copyright}</p>
			<p class="xs0">
				<span id="debuginfo">
				<!--{if debuginfo()}-->Processed in $_G[debuginfo][time] seconds, $_G[debuginfo][queries] queries
					<!--{if $_G['gzipcompress']}-->, Gzip On<!--{/if}--><!--{if C::memory()->type}-->, <!--{echo C::memory()->type}--> On<!--{/if}-->
				<!--{/if}-->
				</span>
			</p>
		</div>
		<!--{eval updatesession();}-->
	</div>
<!--{/if}-->
<script type="text/javascript">
function new_showTopLink() {
	var ft = $('ft');
	var scrolltop = $('scrolltop');
	if(!ft || !scrolltop) {
		return;
	}
	var scrollHeight = parseInt(document.body.getBoundingClientRect().top);
	var basew = parseInt(ft.clientWidth);
	var sw = scrolltop.clientWidth;
	if(basew < 1250) {
		var left = parseInt(fetchOffset(ft)['left']);
		left = left < sw ? left * 2 - sw : left;
		scrolltop.style.left = (basew + left) + 'px';
	} else {
		scrolltop.style.left = 'auto';
		scrolltop.style.right = 0;
	}
	scrolltop.style.visibility = scrollHeight < -100 ? 'visible' : 'hidden';
}
_attachEvent(window, 'scroll', new_showTopLink);
_attachEvent(window, 'resize', new_showTopLink);
new_showTopLink();
</script>
{cells common/footer/js}

<!--{if !IS_ROBOT}-->
<link href="/chat/pusher-chat-widget.css?{VERHASH}" rel="stylesheet" />
<style>.pusher-chat-widget{bottom:5px;right:5px;z-index:700;position:fixed;width:300px;}.pusher-chat-widget ul.activity-stream{max-height:400px;}</style>
<script src="{STATICURL}js/mobile/jquery.min.js"></script><script>jQuery.noConflict();</script>
<script src="/chat/pusher.min.js"></script>
<script src="/chat/PusherChatWidget.js?{VERHASH}"></script>
<!--{/if}-->
<!--{eval output();}-->
</body>
</html>
