<!DOCTYPE html>
<html lang="{echo lang_attr();}">
	<head>
	<meta charset="{CHARSET}" />
	<meta name="renderer" content="webkit" />
	<title><!--{if !empty($navtitle)}-->$navtitle<!--{/if}--><!--{if empty($nobbname)}--> - $_G['setting']['bbname']<!--{/if}--></title>
	$_G['setting']['seohead']
<!--{subtemplate common/header_mathjax}-->

	<meta name="keywords" content="{if !empty($metakeywords)}{echo dhtmlspecialchars($metakeywords)}{/if}" />
	<meta name="description" content="{if !empty($metadescription)}{echo dhtmlspecialchars($metadescription)} {/if}" />
	<!--{csstemplate}-->
	<script>var STYLEID = '{STYLEID}', STATICURL = '{STATICURL}', IMGDIR = '{IMGDIR}', VERHASH = '{VERHASH}', FORMHASH = '{FORMHASH}', charset = '{CHARSET}', discuz_uid = '$_G[uid]', cookiepre = '{$_G[config][cookie][cookiepre]}', cookiedomain = '{$_G[config][cookie][cookiedomain]}', cookiepath = '{$_G[config][cookie][cookiepath]}', showusercard = '{$_G[setting][showusercard]}', attackevasive = '{$_G[config][security][attackevasive]}', disallowfloat = '{$_G[setting][disallowfloat]}', creditnotice = '<!--{if $_G['setting']['creditnotice']}-->$_G['setting']['creditnames']<!--{/if}-->', defaultstyle = '$_G[style][defaultextstyle]', REPORTURL = '$_G[currenturl_encode]', SITEURL = '$_G[siteurl]', JSCACHEPATH = '{$_G[setting][jscachepath]}', JSPATH = '$_G[setting][jspath]', CSSPATH = '$_G[setting][csspath]', DYNAMICURL = '{$_G[dynamicurl] or ''}', DISCUZ_I18N = '{echo currentlang();}';</script>
	<script>
		if(typeof $ !== 'function') { window.$ = function(id) { return typeof id === 'string' ? document.getElementById(id) : id; }; }
		if(typeof _attachEvent !== 'function') { window._attachEvent = function(target, event, handler) { if(target && target.addEventListener) { target.addEventListener(event, handler, false); } else if(target && target.attachEvent) { target.attachEvent('on' + event, handler); } }; }
		if(typeof updatesecqaa !== 'function') { window.updatesecqaa = function() {}; }
		if(typeof updateseccode !== 'function') { window.updateseccode = function() {}; }
		if(typeof addFormEvent !== 'function') { window.addFormEvent = function() {}; }
		if(typeof checkBlind !== 'function') { window.checkBlind = function() {}; }
	</script>
	<script src="{echo $_G['setting']['jscachepath'] ?: 'data/cache/';}lang_{echo currentlang();}.js?{VERHASH}"></script>
	<script src="/static/js/common.js?{VERHASH}"></script>
	<!--{if empty($_GET['diy'])}--><!--{eval $_GET['diy'] = '';}--><!--{/if}-->
	<!--{if !isset($topic)}--><!--{eval $topic = array();}--><!--{/if}-->
