<div id="ais-wrapper">
	<main id="ais-main">
		<div id="algolia-hits"></div>
		<div id="algolia-pagination"></div>
	</main>
	<aside id="ais-facets" style="display: none;">
		<div id="ais-clear-refinements"></div>
		<div>
			<h3 class="widgettitle">{lang tag}</h3>
			<section class="ais-facets" id="facet-keywords"></section>
		</div>
		<div>
			<h3 class="widgettitle">{lang author}</h3>
			<section class="ais-facets" id="facet-author"></section>
		</div>
		<div>
			<h3 class="widgettitle">{lang forum}</h3>
			<section class="ais-facets" id="facet-forum"></section>
		</div>
		<div>
			<h3 class="widgettitle">{lang post_count}</h3>
			<section class="ais-facets" id="facet-totalposts"></section>
		</div>
	</aside>
</div>
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@5.23.0/dist/lite/builds/browser.umd.js"
	integrity="sha256-pfKeJRuGRsHDNu078bcMlWdxjw/Vgz5QLC6hyLFw9fA=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.78.1/dist/instantsearch.production.min.js"
	integrity="sha256-ev+/eO2lcqeanteOezwkK4FfnLtzCtiM8QhExgHoxeM=" crossorigin="anonymous"></script>
<script src="/kk/algolia-search.js?{VERHASH}"></script>
<script>initSearch({search:"{lang search}", no_results:"{lang no_results}", less:"{lang less}", more:"{lang more}", post_count:"{lang post_count}"},{
<!--{eval loadcache('forums');}-->
<!--{loop $_G['cache']['forums'] $value}-->
	<!--{if $value['type'] == 'sub' || $value['type'] == 'forum'}-->
		$value[fid]:'$value[name]',
	<!--{/if}-->
<!--{/loop}-->
})</script>