<div id="ais-wrapper">
	<main id="ais-main">
		<div id="algolia-hits"></div>
		<div id="algolia-pagination"></div>
	</main>
</div>
<aside id="ais-facets">
	<div>
		<h3 class="widgettitle">
			Forum
		</h3>
		<section class="ais-facets" id="facet-categories"></section>
	</div>
	<div>
		<h3 class="widgettitle">
			Tags
		</h3>
		<section class="ais-facets" id="facet-tags"></section>
	</div>
	<div>
		<h3 class="widgettitle">
			Author
		</h3>
		<section class="ais-facets" id="facet-users"></section>
	</div>
</aside>
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@5.23.0/dist/lite/builds/browser.umd.js"
	integrity="sha256-pfKeJRuGRsHDNu078bcMlWdxjw/Vgz5QLC6hyLFw9fA=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.78.1/dist/instantsearch.production.min.js"
	integrity="sha256-ev+/eO2lcqeanteOezwkK4FfnLtzCtiM8QhExgHoxeM=" crossorigin="anonymous"></script>
<script>
	const { liteClient: algoliasearch } = window['algoliasearch/lite'];
	window.addEventListener('load', function () {
		if (document.getElementById("algolia-search-box")) {
			/* Instantiate instantsearch.js */
			var search = instantsearch({
				searchFunction: function (helper) {
					if (helper.state.query === '') {
						return;
					}
					helper.search();
				},
				indexName: 'kuing',
				searchClient: algoliasearch('KZZUGXICHQ', 'cfaa3668ecea0bce830d62fc30f4d0dd'),
				routing: {
					router: instantsearch.routers.history({ writeDelay: 1000 }),
					stateMapping: {
						stateToRoute(indexUiState) {
							return {
								s: indexUiState['kuing'].query,
								page: indexUiState['kuing'].page
							}
						},
						routeToState(routeState) {
							const indexUiState = {};
							indexUiState['kuing'] = {
								query: routeState.s,
								page: routeState.page
							};
							return indexUiState;
						}
					}
				}
			});

			search.addWidgets([

				/* Search box widget */
				instantsearch.widgets.searchBox({
					container: '#algolia-search-box',
					placeholder: 'Search for...',
					showReset: false,
					showSubmit: false,
					showLoadingIndicator: false,
				}),

				/* Stats widget */
				instantsearch.widgets.stats({
					container: '#algolia-stats'
				}),

				instantsearch.widgets.configure({
					hitsPerPage: 15,
				}),

				/* Hits widget */
				instantsearch.widgets.hits({
					container: '#algolia-hits',
					templates: {
						empty(results, { html }) { return '未找到与 <strong>' + results.query + '</strong> 相关的结果。'; },
						item(data, { html, components }) {
							return `<article>
		<div class="ais-hits--content">
			<h2 itemprop="name headline"><a href="${data.objectID}" class="ais-hits--title-link" itemprop="url">${data._highlightResult.title.value}</a><span style="color: #666;font-weight:normal;"> - ${data.totalposts - 1} 个回复 - ${data.author}</span></h2>
			<div class="excerpt">
				<p><span class="suggestion-post-content ais-hits--content-snippet">${data._highlightResult.description.value}${data._snippetResult['content'].value}</span></p>
			</div>
		</div>
		<div class="ais-clearfix"></div>
	</article>`;
						}
					}
				}),

				/* Pagination widget */
				instantsearch.widgets.pagination({
					container: '#algolia-pagination'
				}),

				/* Categories refinement widget */
				instantsearch.widgets.refinementList({
					container: '#facet-categories',
					attribute: 'forum',
					separator: ' > ',
					sortBy: ['count']
				}),

				/* Tags refinement widget */
				instantsearch.widgets.refinementList({
					container: '#facet-tags',
					attribute: 'keyword',
					operator: 'and',
					limit: 15,
					sortBy: ['isRefined:desc', 'count:desc', 'name:asc'],
				}),

				/* Users refinement widget */
				instantsearch.widgets.menu({
					container: '#facet-users',
					attribute: 'author',
					sortBy: ['isRefined:desc', 'count:desc', 'name:asc'],
					limit: 10,
				})
			]);

			/* Start */
			search.start();

			// This needs work
			// document.querySelector("#algolia-search-box input[type='search']").select()
		}
	});
</script>