<script>
window.STAT_LABELS = {echo json_encode(array('noData' => lang('template', 'stat_no_data'), 'line' => lang('template', 'stat_line'), 'bar' => lang('template', 'stat_bar'), 'stack' => lang('template', 'stat_stack'), 'saveImage' => lang('template', 'stat_save_image'), 'restore' => lang('template', 'stat_restore')), JSON_HEX_TAG | JSON_HEX_AMP | JSON_HEX_APOS | JSON_HEX_QUOT)};
</script>
<div class="appl">
	<div class="tbn">
		<h2 class="mt">{lang stats}</h2>
		<ul>
			<li class="cl{if $op == 'basic'} a{/if}"><a href="misc.php?mod=stat&op=basic">{lang basic_situation}</a></li>
			<li class="cl{if $op == 'forumstat'} a{/if}"><a href="misc.php?mod=stat&op=forumstat">{lang forum_stat}</a></li>
			<li class="cl{if $op == 'team'} a{/if}"><a href="misc.php?mod=stat&op=team">{lang manage_team}</a></li>
			<!--{if $_G['setting']['modworkstatus']}-->
				<li class="cl{if $op == 'modworks'} a{/if}"><a href="misc.php?mod=stat&op=modworks">{lang mod_works}</a></li>
			<!--{/if}-->
			<!--{if $_G['setting']['memliststatus']}-->
				<li class="cl{if $op == 'memberlist'} a{/if}"><a href="misc.php?mod=stat&op=memberlist">{lang member_list}</a></li>
			<!--{/if}-->
			<!--{if $_G['setting']['updatestat']}-->
				<li class="cl{if $op == 'trend'} a{/if}"><a href="misc.php?mod=stat&op=trend">{lang trend}</a></li>
			<!--{/if}-->
		</ul>
	</div>
</div>
