/*
wysiwyg CSS file for Discuz! X
(C) Comsenz Inc.
https://www.discuz.vip
*/
html, body { margin: 0; overflow: auto; }
mjx-container.math-editor-selected { cursor: not-allowed; outline: 3px solid #b4d7ff; }
.math-editor-rendered img[src*="upmath.me/svgb/"] { width: auto !important; height: auto !important; }
.litype_1 li, ol li { list-style-type: decimal; }
.litype_2 li { list-style-type: lower-alpha; }
.litype_3 li { list-style-type: upper-alpha; }
a { color: {HIGHLIGHTLINK}; }
	a:hover { text-decoration: none; }
	a img { border: none; }
hr.l { height: 1px; border: none; background: {COMMONBORDER}; color: {COMMONBORDER}; }
table { empty-cells: show; border-collapse: collapse; }
table td { padding: 4px; border: 1px solid {COMMONBORDER}; }
th { font-weight: normal; }
div.quote { margin: 10px 0; padding: 0; overflow: visible; display: flex; color: #666; }
	div.quote::before { content: '\201C'; font-family: 'Times New Roman', Times, serif; font-size: 40px; color: #B2B7F2; font-weight: bold; line-height: 1rem; padding: 10px; flex-shrink: 0; display: block; }
	div.quote::after { content: '\201D'; font-family: 'Times New Roman', Times, serif; font-size: 40px; color: #B2B7F2; font-weight: bold; line-height: 0; margin: 10px 0; flex-shrink: 0; display: block; align-self: flex-end; }
	div.quote blockquote { margin: 0; padding: 0; background: none; line-height: 1.6; zoom: 1; display: block; }
div.blockcode { margin: 10px 0; padding: 10px; border: 1px solid {WRAPBORDERCOLOR}; background: #F7F7F7; overflow: hidden; text-shadow: none; }
	div.blockcode pre { font-family: Monaco,Consolas,'Lucida Console','Courier New',serif; font-size: 14px; line-height: 1.8em; white-space: pre-wrap; word-break: break-word; margin: 0; }
.float td { border: 0; padding: 0; }
img { max-width:400px; }
